
#navbar-iframe{height:0;visibility:hidden;display:none}
body{color:#444;height:100%;font-family:Philosopher,Arial, Helvetica, Tahoma, sans-serif;font-size:14px;font-weight:400;line-height:22px;text-decoration:none;margin:0;padding:0}
a,a:link,a:visited{color:#bd5d48;text-decoration:none}
a:hover,a:active{color:#666;text-decoration:none}
h2.date-header{display:none}
.header-wrapper{background:url(http://4.bp.blogspot.com/-zH5Av7kALBU/UhrTPu1INeI/AAAAAAAABZg/8RpGh_GRIHg/s1600/background-marketing-online-seo-website.png) no-repeat right ;width:980px;color:#333;min-height:200px;overflow:hidden;position:relative;z-index:99;margin:0 auto;padding-top:10px;
}
#header{max-width:500px;float:left;width:auto;overflow:hidden;z-index:999;min-width:400px;margin:0;padding:0;

}
.addthis_bar.addthis_bar_vertical.addthis_bar_large {
    width: 60px;
	top: 160px !important;
	left:0px !important;
}
#header-inner{margin-left:50px;padding:0}
#header h1,#header p{font:32px Smythe;line-height:40px;color:#eee;text-shadow: 0 1px 1px #cf7764, 0 -1px 1px #000;padding-bottom:10px;margin:0}
#header h1 a,#header h1.title a:hover{color:#f07468;text-decoration:none}
#header .description{color:#fff;font:12px Arial;text-shadow:none;}
#header img{border:0 none;background:none;width:auto;height:auto;margin:0 auto}

#menu{background:#444; color:#ddd;-webkit-box-shadow:0 1px 5px #aaa;-moz-box-shadow:0 1px 5px #aaa;-ms-box-shadow:0 1px 5px #aaa;-o-box-shadow:0 1px 5px #aaa;box-shadow:0 1px 5px #aaa;border-bottom:1px solid #000;padding:10px; position:fixed;top:0; width: 100%;z-index: 100;}
#menu ul,#menu li{margin:0 auto;padding:0 0;list-style:none}
#menu ul{height:35px; width:980px}
#menu li{float:left;display:inline;position:relative;font:bold 12px Philosopher;text-shadow: 0 1px 1px #000000;text-transform:uppercase;}
#menu a{display:block;line-height:35px;padding:0 14px;text-decoration:none;color:#ddd;}
#menu li a:hover{color:#fff}
#menu input{display:none;margin:0 0;padding:0 0;width:80px;height:30px;opacity:0;cursor:pointer}
#menu label{font:bold 30px Arial;display:none;width:35px;height:36px;line-height:36px;text-align:center}
#menu label span{font-size:12px;position:absolute;left:35px}
#menu ul.menus{height:auto;overflow:hidden;width:180px;position:absolute;z-index:99;display:none;border-radius: 6px 6px 6px 6px;background:#BD5D48}
#menu ul.menus li{display:block;width:100%;font:12px Arial;text-transform:none;text-shadow:none}
#menu ul.menus a{color:#333}
#menu li:hover ul.menus{display:block}
#menu a.prett{padding:0 27px 0 14px}
#menu a.prett::after{content:"";width:0;height:0;border-width:6px 5px;border-style:solid;border-color:#ddd transparent transparent transparent;position:absolute;top:14px;right:9px}
#menu ul.menus a:hover{background:#A82223;color:#fff}

.page-menu{width:300px;padding:0;float:right;text-shadow:0 1px 0 rgba(0,0,0,0.5)}
.page-menu ul{list-style:none;color:#ddd;width:300px;margin:0 auto;padding:0}
.page-menu ul li{list-style:none;line-height:32px;display:inline-block}
.page-menu li a{color:#fff;display:block;font-size:14px;font-family:Arial;position:relative;text-decoration:none;text-transform:capitalize;padding:0 10px}
.page-menu li a:hover,.page-menu .selected{color:#fff;text-decoration:none;background: rgba(0,0,0,.1);-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px; -moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.5) inset;-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.5) inset;box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.5) inset}

.outerpic-wrapper{width:100%;padding:5px;margin:0 auto;overflow:hidden}
.headerpic-wrapper{background:#BD5D48;width:100%;padding:0;margin:0;}
.content-wrapper{position:relative;max-width:980px;margin:0 auto;}

.outer-wrapper{position:relative;width:100%;padding:0;margin-top: 50px;}
.main-wrapper{max-width:650px;width:100%;margin:0;float:left;word-wrap:break-word;overflow:hidden;}
#crosscol-wrapper{width:100%;float:left;word-wrap:break-word;overflow:hidden}
#crosscol1-wrapper{width:70%;float:left;word-wrap:break-word;overflow:hidden}
#crosscol2-wrapper{width:29%;float:right;word-wrap:break-word;overflow:hidden}
.crosscol .widget,.crosscol1 .widget,.crosscol2 .widget{margin:10px 3px 3px;padding:5px 5px 0;-webkit-box-shadow:1px 1px 5px #c3c3c3;-moz-box-shadow:1px 1px 5px #c3c3c3;-ms-box-shadow:1px 1px 5px #c3c3c3;-o-box-shadow:1px 1px 5px #c3c3c3;box-shadow:1px 1px 5px #c3c3c3;background:#f6f6f6;border:1px solid #fff;}
.clr{clear:both;float:none}

h2{line-height:1.4em;text-transform:none;color:#333;margin: 5px 5px 5px 10px;}
h3.date-header{text-transform:none;font:normal 12px Arial;color:#666;line-height:1.2em;margin:.1em 0}
.post{margin:10px 5px;padding:10px 15px;-webkit-box-shadow:1px 1px 5px #c3c3c3;-moz-box-shadow:1px 1px 5px #c3c3c3;-ms-box-shadow:1px 1px 5px #c3c3c3;-o-box-shadow:1px 1px 5px #c3c3c3;box-shadow:1px 1px 5px #c3c3c3;background:#f6f6f6;border:1px solid #fff}
.post h1,.post h2{font:28px Smythe;line-height:1.2em;color:#222;margin:.0em 0 0;padding:4px 0;text-shadow: 1px 1px 0px #F2F2F2, 2px 2px 0px rgb(192, 192, 192)}
.post h1 a,.post h1 a:visited,.post h1 strong,.post h2 a,.post h2 a:visited,.post h2 strong{display:block;text-decoration:none;color:#222;}
.post h1 strong,.post h1 a:hover,.post h2 strong,.post h2 a:hover{color:#bd5d48}
.post-body{border-top:2px solid #ddd;padding-top:10px;font:13px "Open Sans","Trebuchet MS",Helvetica,sans-serif;margin:1.0em 0 .75em;line-height:1.5em;}
.post-body blockquote{line-height:1.3em}
.post th{background:#f2f2f2;padding:2px 8px}
.post td{border-top:1px solid #dfdfdf;background:#f9f9f9;padding:2px}
.post table{border:1px solid #ccc;margin:4px 0 0;padding:0}
.post-footer{color:#666;text-transform:none;letter-spacing:.01em;font:12px Arial;line-height:1.4em;margin:.75em 0;}
.comment-link{margin-left:.1em}
blockquote{position: relative; margin:2em 0; padding:1em 3em 2em 3em;}
blockquote:before{display: block; content: "\201C"; line-height:1; font-size: 6em;  font-family: "Open Sans", sans-serif; position: absolute; left: 0; top: -0.1em; color: #ddd;}
blockquote {font-size:1.2em;}
blockquote cite {color: #999; font-size: .85em; display: block; margin-top: .8em;}
blockquote cite:before { content: "\2014 \2009"; }
.post img,#header2 img,.sidebar1 img,.sidebar img,.crosscol1 img,.crosscol2 img{max-width:100%;-ms-interpolation-mode:bicubic;border:0;}
.video-container { position:relative; margin:0 0 15px 0;padding-bottom:51%; padding-top:30px; height:0; overflow:hidden; border:1px solid #ccc; }
.video-container iframe,.video-container object, .video-container embed { position:absolute; top:0; left:0; width:100%; height:100%; }

#blog-pager-older-link a,#blog-pager-newer-link a,a.home-link{width:120px;text-align:center;display:inline-block;color:#fff;font:bold 12px Arial;text-transform:none;margin:2px;padding:5px 5px;background:#9F4B38;border:1px solid #9f4b38}
.blog-pager,#blog-pager{clear:both;font:bold 12px Arial;text-align:center;padding:15px 10px}
.showpageNum a,.showpage a{background:#fff;text-decoration:none;white-space:nowrap;color:#222;margin:10px 3px;padding:5px 10px;border:1px solid #ddd}
.showpageNum a:hover,.showpage a:hover{color:#9f4b33;text-decoration:none;border:1px solid #9f4b38}
.showpageOf{display:none;margin:0}
.showpagePoint{color:#fff;text-decoration:none;font-size:12px;margin:10px 3px;padding:5px 10px;border:1px solid #9f4b38; background:#BD5D48}
.feed-links{clear:both;line-height:2.5em}

#related-posts{float:left;width:100%;border-top:3px solid #ddd;margin:5px 0}
#related-posts .judul{background:none;color:#333;font:16px Smythe;padding:5px 0}
#related-posts .maskolis_img {padding:0 0;width:140px;height:95px;transition:all 400ms ease-in-out;-webkit-transition:all 400ms ease-in-out;-moz-transition:all 400ms ease-in-out;-o-transition:all 400ms ease-in-out;-ms-transition:all 400ms ease-in-out}
#related-posts .maskolis_img:hover{opacity:.7;filter:alpha(opacity=70);-moz-opacity:.7;-khtml-opacity:.7}

.readmorecontent{float:right;margin:5px 5px 0 0;padding:2px 0}
.readmorecontent a{color: #fff;text-shadow:0 1px 0 rgba(14, 130, 7, 0.4);background:#BD5D48;  text-decoration:none;font:bold 11px Arial;padding:5px 7px}
.readmorecontent a:hover{text-decoration:none;background:#666}

.postmeta{font:11px Tahoma;text-transform:uppercase;font-weight:400;padding:5px 0;line-height:16px}
.author{color:#666;padding:2px 5px 2px 17px}
.clock{color:#666;padding:2px 5px 2px 17px}
.clock a{color:#666}
.clock a:hover{color:#b64d4a}
#homepage{width:100%;float:left; font-size:12px }

.menusearch{width:200px;float:right;margin:0 auto;padding:4px 15px 0 0}
.searchform {margin-top:0px;display: inline-block;*display: inline;padding:0;background:#fff;width:200px;height:23px; overflow:hidden;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border:1px solid #833c2c}
.searchform input {font:italic 12px Arial;color:#222;line-height:23px;height:23px;padding:0;margin:0;}
.searchform .searchfield {background:transparent;padding:0 0 0 6px;margin:0;width: 160px;height:23px;border:0px;outline: none;line-height:23px;}
.searchform .searchbutton{border:none;font-size:12px;height:23px;width:23px;margin:0;padding:0}

.sidebar-wrapper,.sidebar1-wrapper{width:320px;float:right;word-wrap:break-word;overflow:hidden}
.sidebar h2{color:#333;font:18px Smythe;font-weight: bold;margin:0 10px;padding:5px 0 13px;text-transform:uppercase;background:url(http://2.bp.blogspot.com/-vBqe4ZmtYSo/UT87W-IKz4I/AAAAAAAAAbU/EE8BXvUkjNY/s1600/sprite.png) repeat-x scroll bottom;}
.sidebar{color:#666;line-height:1em;margin:5px 0;font:11px Arial}
.sidebar li{line-height:1.3em;margin:0;padding:5px 0 4px;border-bottom:1px dashed #ddd}
.sidebar .widget,.sidebar1 .widget{margin:10px 3px 10px 1px;padding:0;-webkit-box-shadow:1px 1px 5px #c3c3c3;-moz-box-shadow:1px 1px 5px #c3c3c3;-ms-box-shadow:1px 1px 5px #c3c3c3;-o-box-shadow:1px 1px 5px #c3c3c3;box-shadow:1px 1px 5px #c3c3c3;background:#f6f6f6;border:1px solid #fff;}
.sidebar .widget-content{margin:0 auto;padding:0 10px;}
.sidebar a:link,.sidebar a:visited{font:bold 12px Arial;color:#555;text-decoration:none}
.sidebar li a:hover{color:#bd5d48}
.sidebar ul{list-style:none;margin:0;padding:5px 0}
.sidebar1 ul{list-style:none;padding:0;margin:0;}
.sidebar1 .widget-content{margin:0 auto;padding:10px 10px 5px;}

#footer{background:#444;border-top:4px solid #000;width:100%;padding:0;}
.footer-wrapper{color:#aaa;height:100%;line-height:16px;overflow:hidden;padding:0}
.footer{float:left;width:31%;margin:10px}
.footer .widget{margin-bottom:30px}
.footer h2{background:url(http://4.bp.blogspot.com/-tk5hQcNMq6M/T8zPEwjH-RI/AAAAAAAAGm0/t8xkrJitkxg/s1600/batas.gif) repeat-x scroll bottom;font:bold 14px Arial;padding-bottom:8px;margin-bottom:8px;line-height:1.3em;text-transform:uppercase;color:#ddd}
.footer .widget-content{line-height:17px}
.footer ul{list-style:none;color:#EAE9E8;margin:0;padding:0}
.footer li{background:url(http://4.bp.blogspot.com/-Bt0JYGRHfpk/T7ZpN5RNSQI/AAAAAAAAGJQ/zQtrWVZwgHA/s1600/bullet.png) no-repeat 1px 4px;font:normal 12px Arial;color:#626262;text-indent:0;line-height:1.2em;margin:0;padding:2px 0 3px 17px}
.footer a:link,.footer li a:visited{color:#aaa;text-decoration:none}
.footer li a:hover{color:#fff}
#credit{background:#222 ;font:11px Tahoma;color:#999;width:100%;overflow:hidden;clear:both;padding:15px 0 10px;line-height:18px}
#credit .left{float:left;text-align:left;margin-left:10px}
#credit .right{float:right;text-align:right;margin-right:10px}
#credit a{color:#eee;text-decoration:none}
#credit a:hover{color:#fc0;text-decoration:none}

.PopularPosts .item-thumbnail img{width:72px;height:72px;padding:4px;margin:0;border:1px solid #ddd}
.sosmed-kananblogger{ background:url('http://4.bp.blogspot.com/-pHaCPnRRhpw/UEyeymZDBAI/AAAAAAAAAPo/sQgRynAxmLc/s1600/FB.png');background-repeat:no-repeat;width:43px;height:43px;position:fixed;right:0px;top:160px; z-index:1000;}
.sosmed-kananbloggerc{ background:url('http://4.bp.blogspot.com/-udMDlRqH1mA/UEyexorOOMI/AAAAAAAAAPg/xlYmVRZR5Gc/s1600/FB-open.png');background-repeat:no-repeat;width:150px;height:43px;position:fixed;right:0px;top:160px; z-index:1100;}
.sosmed-isiblogger{margin:0px 0 0 43px}
.sosmed-kanantwitter{background:url('http://2.bp.blogspot.com/-cb-8UxmdvCY/UEye3s5ckoI/AAAAAAAAAQI/2UsOUiBl7OY/s1600/TW.png');background-repeat:no-repeat;width:43px;height:43px;position:fixed;right:0px;top:205px;z-index:1000;}
.sosmed-kanantwitterc{background:url('http://4.bp.blogspot.com/-TtvqyHndUXc/UEye2FTtlVI/AAAAAAAAAQA/3de7K8XwcWE/s1600/TW-open.png');background-repeat:no-repeat;width:150px;height:43px;position:fixed;right:0px;top:205px; z-index:1100;}
.sosmed-isitwitter{margin:0px 0 0 43px}
.sosmed-kananfacebook{background:url('http://2.bp.blogspot.com/-kX-wO_55wpo/UEye0R9pSdI/AAAAAAAAAP4/GYLd2emZvyc/s1600/G+.png');background-repeat:no-repeat;width:43px;height:43px;position:fixed;right:0px;top:250px; z-index:1000;}
.sosmed-kananfacebookc{background:url('http://3.bp.blogspot.com/-xAafaK_rors/UEyezhSNU4I/AAAAAAAAAPw/ceimgukhoT8/s1600/G+-open.png');background-repeat:no-repeat;width:150px;height:43px;position:fixed;right:0px;top:250px; z-index:1100;}
.sosmed-isifacebook{margin:0px 0 0 43px}
.sosmed-kananrss{background:url('http://2.bp.blogspot.com/-A2gUy4WF8l8/UUa2igFbIZI/AAAAAAAAAiM/2ck6-Wot2yM/s1600/rss.png');background-repeat:no-repeat;width:43px;height:43px;position:fixed;right:0px;top:295px; z-index:1000;}
.sosmed-kananrssc{background:url('http://1.bp.blogspot.com/-RZyN5DznuUY/UUa9Uc04tFI/AAAAAAAAAi8/okz_LnBFNS4/s1600/RSSjoss.png');background-repeat:no-repeat;width:150px;height:43px;position:fixed;right:0px;top:295px; z-index:1100;}
.sosmed-isirss{margin:0px 0 0 43px}

.comments {margin:5px;padding:10px 15px; line-height:1em;-webkit-box-shadow:1px 1px 5px #c3c3c3;-moz-box-shadow:1px 1px 5px #c3c3c3;-ms-box-shadow:1px 1px 5px #c3c3c3;-o-box-shadow:1px 1px 5px #c3c3c3;box-shadow:1px 1px 5px #c3c3c3;background:#f6f6f6;border:1px solid #fff}
.comments .comments-content { font-size:12px; margin-bottom:16px; font-weight:normal; text-align:left; line-height:1.4em; }
.comments .comment .comment-actions a { display:inline-block; margin:0; padding:1px 6px; border:1px solid #C4C4C4; border-top-color:#E4E4E4; border-left-color:#E4E4E4; color:#424242 !important; text-align:center; text-shadow:0 -1px 0 white; text-decoration:none; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; background:#EDEDED; background:-webkit-gradient( linear,left top,left bottom,color-stop(.2,white),color-stop(1,#E5E5E5) ); background:-moz-linear-gradient( center top,white 20%,#E5E5E5 100% ); font:11px/18px sans-serif; padding:2px 8px; margin-right:10px; }
.comments .comment .comment-actions a:hover { text-decoration:none; background:#fff; border:1px solid #5AB1E2; }
.comments .comments-content .comment-thread ol { list-style-type:none; padding:0; text-align:none; }
.comments .comments-content .inline-thread { padding:0.5em 1em; }
.comments .comments-content .comment-thread { margin:8px 0; }
.comments .comments-content .comment-thread:empty { display:none; }
.comments .comments-content .comment-replies { margin-top:1em; margin-left:40px; font-size:12px; background:#f6f6f6; }
.comments .comments-content .comment { margin-bottom:16px; padding-bottom:8px; }
.comments .comments-content .comment:first-child { padding-top:16px; }
.comments .comments-content .comment:last-child { border-bottom:0; padding-bottom:0; }
.comments .comments-content .comment-body { position:relative; }
.comments .comments-content .user { font-style:normal; font-weight:bold; }
.comments .comments-content .user a { color:#2D5E7B; font-size:14px; font-weight:bold; text-decoration:none; }
.comments .comments-content .icon.blog-author { width:18px; height:18px; display:inline-block; margin:0 0 -4px 6px; }
.comments .comments-content .datetime { color:#999999; float:right; font-size:11px; text-decoration:none; }
.comments .comments-content,.comments .comments-content .comment-content { margin:0 0 8px; }
.comment-header { background-color:#F4F4F4; border:thin solid #E6E6E6; margin-bottom:5px; padding:5px; }
.comments .comments-content .comment-content { text-align:none; }
.comments .comments-content .owner-actions { position:absolute; right:0; top:0; }
.comments .comments-replybox { border:none; height:250px; width:100%; }
.comments .comment-replybox-single { margin-top:5px; margin-left:48px; }
.comments .comment-replybox-thread { margin-top:5px; }
.comments .comments-content .loadmore a { display:block; padding:10px 16px; text-align:center; }
.comments .thread-toggle { cursor:pointer; display:inline-block; }
.comments .continue { cursor:pointer; }
.comments .continue a { display:inline-block; margin:0; padding:1px 6px; border:1px solid #C4C4C4; border-top-color:#E4E4E4; border-left-color:#E4E4E4; color:#424242 !important; text-align:center; text-shadow:0 -1px 0 white; text-decoration:none; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; background:#EDEDED; background:-webkit-gradient( linear,left top,left bottom,color-stop(.2,white),color-stop(1,#E5E5E5) ); background:-moz-linear-gradient( center top,white 20%,#E5E5E5 100% ); font:11px/18px sans-serif; padding:2px 8px; margin-right:10px; }
.comments .comments-content .loadmore { cursor:pointer; max-height:3em; margin-top:3em; }
.comments .comments-content .loadmore.loaded { max-height:0; opacity:0; overflow:hidden; }
.comments .thread-chrome.thread-collapsed { display:none; }
.comments .thread-toggle { display:inline-block; }
.comments .thread-toggle .thread-arrow { display:inline-block; height:6px; width:7px; overflow:visible; margin:0.3em; padding-right:4px; }
.comments .thread-expanded .thread-arrow { background:url(http://4.bp.blogspot.com/-fhTZlJkFnPc/UQezZ0aM1ZI/AAAAAAAABcY/v1vUibnXaKc/s1600/arrow-down.png) no-repeat scroll 0 0 transparent; }
.comments .thread-collapsed .thread-arrow { background:url(http://4.bp.blogspot.com/-WwOfybPl9ig/UQezafv_uNI/AAAAAAAABcg/uLkQHEqKKBM/s1600/arrow-right.png) no-repeat scroll 0 0 transparent; }
.comments .avatar-image-container { background-image:url(http://4.bp.blogspot.com/-MXCdgmCfwRc/UQezaV_MLdI/AAAAAAAABck/N-dsAOjgvtk/s1600/avatar.jpg); background-position:center center; background-repeat:no-repeat; float:left; width:36px; max-height:36px; margin:0; outline:1px solid #FFFFFF; padding:3px; vertical-align:middle; overflow:hidden; border:1px solid #DDDDDD; }
.comments .avatar-image-container img { width:36px; }
.comments .comment-block { margin-left:48px; position:relative; }
@media screen and (max-device-width:480px) { .comments .comments-content .comment-replies { margin-left:0; }}


@media screen and (max-width: 980px) {
#header{float:left;max-width:none;text-align:center;margin-top:10px}
#header-inner{margin-bottom:0}
#header h1,#header p{margin-right:0}
#header .description{margin:0}
.menusearch{float:none;padding:5px 0 10px}
.main-wrapper{margin-right:0;width:66.5%;}
.sidebar-wrapper,.sidebar1-wrapper{border:none;margin:0 auto;padding:0 10px;}
.credit{padding:20px!important}
#credit .left,#credit .right{float:none;text-align:center;margin:0}
.outerpic-wrapper,.content-wrapper{padding:0}
#header2,.page-menu ul{text-align:center;width:100%}
}
@media screen and (max-width: 800px){
.header-wrapper{margin-right:0;min-height:0;width:100%}
#header{text-align:center;width:100%;max-width:none}
#header-inner{margin:10px 0}
.main-wrapper{width:55.4%;}
  #menu{position:relative}
  #menu ul{background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
#menu ul.menus{width:100%;position:static;padding-left:20px;}
  #menu li{display:block;float:none;width:auto}
  #menu input,#menu label{position:absolute;top:7px;left:0;display:block}
  #menu input{z-index:4}
  #menu input:checked + label{color:white}
  #menu input:checked ~ ul{display:block}
.page-menu li a{border-right:0}
.page-menu{margin:0;width:100%}
}
@media screen and (max-width: 760px){
.outer-wrapper{padding:0}
.main-wrapper{margin-right:0;width:100%;min-height:0}
.sidebar-wrapper,.sidebar1-wrapper{position:relative;top:auto;right:auto;clear:both;left:auto;width:auto;background:none;}
#comment-editor{margin:10px}
.footer{width:auto;margin:15px}
#relpost_img_sum .news-text {display:none}
}
@media screen and (max-width: 480px){
#header img{width:100%}
#relpost_img_sum .news-title {font: 11px Arial}
.post-comment-link{display:none}
}
@media screen and (max-width: 320px){
.comments .comments-content .datetime{display:block;float:none}
.comments .comments-content .comment-header{height:70px}
}
@media screen and (max-width: 240px){
.header-wrapper{margin-right:0;min-height:0;width:100%}
#header{text-align:center;width:100%;max-width:none;}
#header-inner{margin:10px 0}
#header img{border:0 none;background:none;width:auto;height:auto;margin:0 auto}
.comments .comments-content .comment-replies{margin-left:0}
}
<!-- giaiphapthuonghieu.org@gmail.com add slider -->

<!--New Featured Slider From http://www.spiceupyourblog.com -->
.fp-slider {
background: none repeat scroll 0 0 #FFFFFF;
height: 329px;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
overflow: hidden;
padding: 0;
position: relative;
width: 650px;
}
.fp-slides-container {
border-radius: 0 0 6px 6px;
}
.fp-slides, .fp-thumbnail, .fp-prev-next, .fp-nav {
width: 650px; /*Set The Width Of Slider Here*/
}
.fp-slides, .fp-thumbnail {
height: 280px; /*Set The Height Of Images Here*/
overflow: hidden;
padding-top: 0;
position: relative;
}
.fp-title {
color: #FFFFFF;
font: bold 18px Arial,Helvetica,Sans-serif;
margin: 0;
padding: 0 0 2px;
text-shadow: 0 1px 0 #000000;
}
.fp-title a, .fp-title a:hover {
color: #FFFFFF;
text-decoration: none;
}
.fp-content {
background: none repeat scroll 0 0 #111111;
bottom: 0;
left: 0;
opacity: 0.7;
overflow: hidden;
padding: 10px 15px 5px;
position: absolute;
right: 0;
}
.fp-content p {
color: #FFFFFF;
line-height: 18px;
margin: 0;
padding: 0;
text-shadow: 0 1px 0 #000000;
}
.fp-more, .fp-more:hover {
color: #FFFFFF;
font-weight: bold;
}
.fp-nav {
background: url("http://3.bp.blogspot.com/-T2u14ZkViVc/UDVDYSb6qoI/AAAAAAAAA4U/xgSh7zYVwGY/s1600/h2.png") repeat-x scroll 0 0 transparent;
height: 12px;
padding: 10px 0;
text-align: center;
border-radius: 0 0 6px 6px;

}
.fp-pager a {
background-image: url("http://1.bp.blogspot.com/-J0WXZkvU9Fw/TwL174uF0sI/AAAAAAAACGU/3zCFSpAL1Xo/s1600/featured-pager.png");
background-position: 0 0;
cursor: pointer;
display: inline-block;
float: none;
height: 12px;
line-height: 1;
margin: 0 4px 0 0;
opacity: 0.7;
overflow: hidden;
padding: 0;
text-indent: -999px;
width: 12px;
}
.fp-pager a:hover, .fp-pager a.activeSlide {
background-position: 0 -112px;
opacity: 1;
text-decoration: none;
}
.fp-prev-next-wrap {
position: relative;
z-index:100;
}
.fp-prev-next {
bottom: 130px;
height: 37px;
left: 0;
position: absolute;
right: 0;
}
.fp-prev {
background: url("http://4.bp.blogspot.com/-q6d5ARd-gto/TwL18nZpBkI/AAAAAAAACGY/b1BSQrPbsHA/s1600/featured-prev.png") no-repeat scroll left top transparent;
float: left;
height: 37px;
margin-left: 14px;
margin-top: -180px;
opacity: 0.6;
width: 37px;
}
.fp-prev:hover {
opacity: 0.8;
}
.fp-next {
background: url("http://2.bp.blogspot.com/-OpDIcNy43XA/TwL16dnar-I/AAAAAAAACGM/pGYlPIxfbE8/s1600/featured-next.png") no-repeat scroll right top transparent;
float: right;
height: 37px;
margin-right: 14px;
margin-top: -180px;
opacity: 0.6;
width: 36px;
}
.fp-next:hover {
opacity: 0.8;
}
